.central-section {
  display: block;
  text-align: center;

  position: absolute;
  padding-top: 61px;
  padding-bottom: 198px;
  padding-left: auto;
  padding-right: auto;
}

.logo {
  width: 210px;
  height: 100px;
}

.logo-box {
  position: absolute;
  top: 6px;
  left: 855px;
}

.king {
  position: absolute;
  width: 781px;
  height: 821px;
  top: 61px;
  left: 588px;
}

.title {
  position: absolute;
  top: 865px;
  left: 765px;
  width: 390px;
  height: 34px;

  font-family: Montserrat;
  font-style: italic;
  font-weight: 900;
  font-size: 42px;
  line-height: 80%;

  text-align: center;
  text-transform: uppercase;

  color: liner-gradient (to right, FA951F, FFE071);

  text-shadow: 3px 0px 0px #a75000, 0px 7px 21px #000000,
    0px 1px 2px rgba(0, 0, 0, 0.25);
}
